.slide-drop-container {
	position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
	pointer-events: none;

	@media (max-width: $laptop) {
		height: 350vw;
		max-height: 120vh;
	}
}
.slide-drop {
	--drop-color: #fff;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transition: all 0.4s, background-color 0.2s linear 1.1s;
  display: grid;
	grid-template-rows: 0fr;
	z-index: 5;
	overflow: hidden;
}	

[data-theme="citrus"].slide-drop,
[data-theme="citrus"] .slide-drop {
	--drop-color: #F4D372;
}
[data-theme="citrus"].slide-drop--enter,
[data-theme="citrus"] .slide-drop--enter {
	--drop-color: #FFB709
}

[data-theme="berry"].slide-drop,
[data-theme="berry"] .slide-drop {
	--drop-color: #FFA9BE;
}
[data-theme="berry"].slide-drop--enter,
[data-theme="berry"] .slide-drop--enter {
	--drop-color: #FF6588;
}

[data-theme="raw"].slide-drop,
[data-theme="raw"] .slide-drop {
	--drop-color: #7FC8EC;
}
[data-theme="raw"].slide-drop--enter,
[data-theme="raw"] .slide-drop--enter {
	--drop-color: #36ABFF;
}

[data-theme="mango"].slide-drop,
[data-theme="mango"] .slide-drop {
	--drop-color: #F0BC70;
}
[data-theme="mango"].slide-drop--enter,
[data-theme="mango"] .slide-drop--enter {
	--drop-color: #FFA530;
}

.slide-drop--enter {
	background-color: var(--drop-color);
}

.slide-drop--active {
	grid-template-rows: 1fr;
	position: fixed;
	pointer-events: initial;
}

.slide-drop__inner {
	position: relative;
	min-height: 4.2rem;
	background-color: transparent;
}
.slide-drop--enter .slide-drop__inner {
	background-color: var(--drop-height);
	transition: background-color 0.3s linear 0.5s;
}

.slide-drop__content {
	// --drop-mask: url('../img/common/drop.svg', cover);
	--drop-height: 4.2rem;
	
	@include mask(var(--drop-mask));
	background-color: var(--drop-color);
	// max-width: 3rem;
	max-width: 4.2rem;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	margin-top: #{'calc(0rem - var(--drop-height))'};
	 -webkit-border-radius: 80% 0 55% 50% / 55% 0 80% 50%;
  border-radius: 80% 0 55% 50% / 55% 0 80% 50%;
  transform: rotateZ(-45deg);

	position: absolute;
  // bottom: 34rem;
  // bottom: -30px	;
	// top: 107rem;
	top: 108.5rem;
  left: 0;
  right: 0;
  transition: all 1.3s ease-in-out;
	min-height: var(--drop-height);
	// height: 100%;
	height: var(--drop-height);

	@media (max-width: $desktop-l) {
		// top: 95vh;
		top: 107.5rem;
	}
	@media (max-width: $desktop-m) {
	// 	top: 97vh;
		top: 106.5rem;
	}
	@media (max-width: $laptop-m) {
		top: 90.5rem;
	}

	@media (max-width: $mobile-xl) {
		position: fixed;
		top: unset;
		bottom: -5rem;
	}
}

.slide-drop__blink,
.slide-drop__paper {
	content: "";
	position: fixed;
	left: 0;
	top: 0;
	display: block;
	width: 100%;
	height: 130%;
	background-repeat: no-repeat;
	opacity: 0;
	transition: 0.4s linear 1.2s;
	background-size: 120%;
	background-position: -10rem -10rem;

	@media (max-width: $laptop) {
		background-size: cover;
		height: 350vw;
	}
}

.slide-drop__blink {
	background-image: url('../img/common/blinks.jpg');
	mix-blend-mode: screen;
	background-color: var(--drop-color);
}
.slide-drop__paper {
	background-image: url('../img/common/paper.png');
}

.slide-drop--enter .slide-drop__content {
	// max-width: 100%;
  // transform: rotateZ(-45deg) scale(100);
  transform: rotateZ(-45deg) scale(70);
	bottom: 0;
	top: 0;
}

.slide-drop--active .slide-drop__content {
	transition: none;
	max-width: 100%;
	height: 120%;
	transform: none;
	border-radius: 0;
}

.slide-drop--enter .slide-drop__paper {
	opacity: 0.65;
}
.slide-drop--enter .slide-drop__blink {
	opacity: 0.8;
	opacity: 1;
}
