<article class="showcase-card showcase-card--cocktail @@className" data-theme="@@img">
  <div class="showcase-card__body">
    <h3 class="showcase-card__model">
      <div class="showcase-card__model-name">@@title</div>
    </h3>
    <div class="showcase-card__media">
      <picture class="showcase-card__media-pic">
        <source srcset="./img/cocktails/@@pic.webp" type="image/webp">
        <img src="./img/cocktails/@@pic.jpg" alt="MAD DOG VODKA @@title" class="showcase-card__media-img">
      </picture>
    </div>
    @@if (typeof desc != 'undefined') {
      <div class="showcase-card__slogan">
        <picture class="showcase-card__slogan-pic">
          <source srcset="./img/common/slogan.webp" type="image/webp">
          <img src="./img/common/slogan.png" alt="MAD DOG VODKA @@title" class="showcase-card__slogan-img">
        </picture>
      </div>
    }
      <div class="showcase-card__info">
        @@if (typeof desc != 'undefined') {
          <h3 class="showcase-card__title">
            <span class="showcase-card__title-product">
              MAD DOG VODKA
            </span>
            <span class="showcase-card__title-model">
              @@title
            </span>
          </h3>
          <p class="showcase-card__desc">
            @@desc
          </p>
        }
        <div class="showcase-card__buttons">
          <a href="@@pic.html" class="showcase-card__button button-paper">
            <span class="button__text">УЗНАТЬ БОЛЬШЕ</span>
            <span class="button__bg"></span>
          </a>
        </div>
      </div>
  </div>
  @@if (typeof desc != 'undefined') {
    <div class="showcase-card__footer">
      <div class="showcase-card__drop"></div>
    </div>
  }
</article>
