 @import "../components.b/controls/form";


.form {
	max-width: 69.1rem;
	margin-left: auto;
	margin-right: auto;
}

.form__fields {
	display: grid;
	grid-template-columns: 100%;
	row-gap: 2.2rem;
	margin-bottom: 2.7rem;
}

.form__button-submit {
	width: 100%;
	max-width: 100%;
}