 @import "../components.b/controls/input";

.input {
  --input-padding: 1.1rem;
  --border-color: transparent;
  --brad: 0;
  --fz: 2.4rem;
  --lh: 111%;
  font-weight: 550;
  background-color: initial;
  border: none;
  @media (max-width: $mobile-l) {
    --fz: 1.6rem;
    --input-padding: 0.9rem 0.6rem;
  }
}
.input__label {
  background-color: #FB6A25;
  text-align: center;
  color: #000;
  font-family: var(--ff-regular);
  font-size: 2.4rem;
  font-style: normal;
  font-weight: 700;
  line-height: 111%;
  letter-spacing: 0.492rem;
  text-transform: uppercase;
  margin-bottom: 1.4rem;
  padding-top: 0.6rem;
  padding-bottom: 0.1rem;
  width: 100%;
  display: block;

  @media (max-width: $mobile-l) {
    font-size: 1.8rem;
    letter-spacing: 0.292rem;
    margin-bottom: 0.8rem;
  }
}

.input__field {
  letter-spacing: 0.492rem;
  text-transform: uppercase;
  text-align: center;
  border: 0.2rem solid var(--border-color);
  @media (max-width: $mobile-l) {
    letter-spacing: 0.192rem;
  }
}

