@import "../components.b/lego/socials";

.socials {
	--icon-size: 9.7rem;
	--icon-brad: 0;
	--icon-gap: 6rem;
  --link-padding: 3rem 3.2rem;
	justify-content: center;
}

.socials__link {
	background-color: #FB6A25;
}

.socials__link--telegram {
  --link-padding: 2.8rem 1.2rem;
}
.socials__link--youtube {
  --link-padding: 3.8rem 1.2rem;
}