.speakers-card {
	position: relative;
	cursor: pointer;

	@media (max-width: $mobile-xl) {
		max-width: var(--card-width);
	}
}

.speakers-card:nth-child(3n+4),
.speakers-card:nth-child(3n+5),
.speakers-card:nth-child(3n+6) {
	@media (min-width: $laptop + 1) {
		left: 13rem;
	}
}
.speakers-card:nth-child(4n+3),
.speakers-card:nth-child(4n+4) {
	@media (max-width: $laptop) and (min-width: $mobile-xl + 1) {
		left: 11rem;
	}
}
.speakers-card:nth-child(even) {
	@media (max-width: $mobile-xl) and (min-width: $mobile-l + 1) {
		left: unset;
		margin-left: auto;
	}
}


.speakers-card__media {
	--size: 29.9rem;
	max-width: var(--size);
	min-width: var(--size);
	width: var(--size);
	height: var(--size);
	display: block;
	position: relative;
	margin-bottom: 2.2rem;

	@media (max-width: $mobile-xl) {
		--size: 28rem;
	}
}

.speakers-card__media::before {
	content: "";
	position: absolute;
	left: 0.7rem;
	top: 0.7rem;
	display: block;
	width: 100%;
	height: 100%;
	background-color: #D45C06;
	border: 0.1rem solid #000;
	z-index: 1;
}

.speakers-card__media-pic {
	position: relative;
	z-index: 2;
	display: block;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.speakers-card__media-img {
	display: block;
	width: 100%;
	height: 100%;
	transition: var(--tr-regular);
}

.speakers-card:hover .speakers-card__media-img {
	@media (any-hover:hover) {
		transform: scale(1.2);
	}
}

.speakers-card__title {
	font-family: var(--ff-regular);
	font-size: 2.4rem;
	font-style: normal;
	font-weight: 900;
	line-height: 111%; /* 26.64px */
	letter-spacing: 0.492rem;
	text-transform: uppercase;
	margin-bottom: 0.4rem;
}
.speakers-card__link::before {
	content: "";
	position: absolute;
	z-index: 3;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}

.speakers-card__desc {
	font-family: var(--ff-regular);
	font-size: 1.5rem;
	font-style: normal;
	font-weight: 550;
	line-height: 126.667%;
	letter-spacing: 0.0375rem;
}
