.book {
	position: relative;
	overflow: hidden;
}

.book:not(.section--closed) {
	@media (min-width: $mobile-l + 1) {
		padding-bottom: 7rem;
	}
}

.book__title {
	margin-bottom: 5.3rem;
	@media (max-width: $mobile-l) {
		letter-spacing: 0.3rem;
		margin-bottom: 2.3rem;
	}
}

.section--closed .book__title {
	margin-bottom: 0;
}

.book__offers {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 4.8rem;

	@media (max-width: $laptop) {
		grid-template-columns: 100%;
	}
}

.book__offer {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.book__offer-body {
}

.book__offer-title {
	margin-bottom: 1.5rem;
	text-transform: uppercase;
	color: #000;
	font-size: 4.8rem;
	font-style: normal;
	font-weight: 900;
	line-height: 111%; /* 53.28px */
	letter-spacing: 0.984rem;
	text-transform: uppercase;
	display: flex;
	align-items: center;
	justify-content: center;

	@media (max-width: $mobile-xl) {
		margin-right: auto;
		margin-left: auto;
		flex-direction: column;
	}
	@media (max-width: $mobile-l) {
		font-size: 2.8rem;
	}
}

.book__offer-title-icon {
	display: block;
	width: 14rem;
	height: 16.6rem;
	margin-right: 3.7rem;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;

	@media (max-width: $mobile-xl) {
		margin-right: 0;
	}
	@media (max-width: $mobile-l) {
		width: 9rem;
		height: 9.6rem;
	}
}

.book__offer:nth-of-type(2) .book__offer-title-icon {
  @media (min-width: $mobile-xl + 1) {
	  margin-left: -17rem;
	  margin-right: 1rem;
  }
}

.book__offer-title-text {
	margin-bottom: 2rem;

	@media (max-width: $mobile-l) {
		margin-bottom: 0rem;
	}
}


.book__offer-desc {
	padding-left: 3rem;
	padding-right: 3rem;
	color: #000;
	text-align: center;
	font-size: 2.4rem;
	font-style: normal;
	font-weight: 700;
	line-height: 111%;
	letter-spacing: 0.492rem;
	text-transform: uppercase;
	margin-bottom: 4.2rem;

	@media (max-width: $mobile-l) {
		font-size: 1.8rem;
		margin-bottom: 2rem;
		padding-left: 0;
		padding-right: 0;
    letter-spacing: 0.25rem;
	}
}

.book__offer-button {
	font-size: 2rem;
	width: 100%;
}

.book__decor-right {
  display: block;
  position: absolute;
  right: 0.2rem;
  top: -4.6rem;
  width: 49.6rem;
  height: 58rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  pointer-events: none;
  transition: var(--tr-regular);

  @media (max-width: $laptop) {
    right: 0.2rem;
    top: 5.4rem;
    width: 29.6rem;
    height: 38rem;	
  }
  @media (max-width: $mobile-xl) {
  	right: 5.2rem;
    top: -2.6rem;
    width: 19.6rem;
    height: 29rem;
  }
  @media (max-width: $mobile-l) {
    right: -1.8rem;
    top: -4.6rem;
    width: 15.6rem;
    height: 27rem;
  }
}
.section--closed .book__decor-right {
	opacity: 0;
}
