.hero {
	padding-top: 15rem;
	padding-bottom: 6rem;
}

.hero__board {
	position: relative;
	padding-top: 0.6rem;
	padding-bottom: 3.5rem;
  max-width: calc(100% - 4rem);
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2.2rem;
  background-color: #7b7b7b;
}

.hero__board > *:not(.hero__bg) {
	z-index: 2;
}

.hero__bg {
	position: absolute;
	display: block;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	z-index: 1;
}

.hero__tags {
	--c-fg-stroke: #000;
	position: absolute;
	left: -14.5rem;
	top: 0;
	font-size: 2rem;
	font-style: normal;
	font-weight: 900;
	line-height: 125%; /* 25px */
	text-transform: uppercase;
}

.hero__pointer {
	display: block;
	width: 8.3rem;
	height: 9.6rem;
	position: absolute;
  top: -3.2rem;
  right: -4.2rem;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}

.hero__media-logo {
	position: relative;
	max-width: 117.5rem;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 4.6rem;
}
.hero__media-logo::before {
  content: "";
  display: block;
  width: 20.5rem;
  height: 14.9rem;
  background-image: url('../img/hero/drops-1.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  position: absolute;
  left: -25.2rem;
  top: 14.1rem;
  z-index: 2;
}

.hero__media-logo::after {
  content: "";
  display: block;
  width: 22.5rem;
  height: 15.7rem;
  background-image: url('../img/hero/drops-1.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  position: absolute;
  right: -22.3rem;
  top: 16.2rem;
  z-index: 3;
  transform: rotate(85deg);
}

.hero__media-logo-pic {
	display: block;
	width: 100%;
	height: 100%;
}
.hero__media-logo-img {
	display: block;
	width: 100%;
	height: 100%;
}

.hero__aside {
	position: absolute;
	background-color: #FB6A25;
	color: #fff;
	padding: 3.2rem 0.5rem 2.1rem 1.6rem;
	left: -14.4rem;
	bottom: 3.3rem;
}

.hero__aside::before {
	content: "";
  position: absolute;
  left: -0.5rem;
  top: 1.3rem;
  display: block;
  width: 106.2%;
  height: 105%;
  background-image: url(../img/common/select-rectange.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.hero__aside-decor-ui {
	
}

.hero__aside-date {
	font-size: 5.7rem;
	letter-spacing: 1.3rem;
	line-height: 1;
}
.hero__aside-row {
	font-size: 3.6rem;
	line-height: 1;
	text-transform: uppercase;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	letter-spacing: 0.12rem;
}

.hero__button {
	position: relative;
	max-width: 37.5rem;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

.hero__char {
  display: block;
  position: absolute;
  right: -19.7rem;
  bottom: -46.9rem;
  width: 61.5rem;
  height: 95.7rem;
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: contain;
}
.hero__char-buble {
	content: "";
  display: block;
  width: 25.5rem;
  height: 16.9rem;
  background-image: url('../img/hero/drops-3.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  position: absolute;
  left: 2.9rem;
  bottom: -2rem;
  z-index: 2;
}

.hero__subtitle {
	--c-fg-stroke: #000;
	font-family: var(--ff-regular);
	font-size: 3.6rem;
	font-style: normal;
	font-weight: 700;
	line-height: 111%;
	letter-spacing: 0.768rem;
	text-transform: uppercase;
	margin-bottom: 2rem;
}