.offer {
	position: relative;
	overflow: hidden;
}

.offer__title {
	margin-bottom: 2rem;
	display: inline-block;
}
.offer__title::after {
	content: "";
	position: absolute;
  top: -4rem;
  right: -8.5rem;
	display: block;
	width: 8.36rem;
	height: 9.6rem;
	background-image: url("../img/common/pointer.svg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}

.offer__subtitle {
	color: #000;
	font-size: 2.4rem;
	font-style: normal;
	font-weight: 700;
	line-height: 111%;
	letter-spacing: 0.492rem;
	text-transform: uppercase;
	margin-bottom: 2rem;
}

.offer__slogan {
	position: relative;
	font-size: 6.4rem;
	font-style: normal;
	font-weight: 700;
	line-height: 111%;
	letter-spacing: 1.312rem;
	text-transform: uppercase;
	padding-top: 2.6rem;
	padding-bottom: 1.5rem;
	margin-bottom: 6rem;
}
.offer__slogan-text {
	position: relative;
	z-index: 2;
}
.offer__slogan::before {
  content: "";
  position: absolute;
  left: -100%;
  top: 0;
  display: block;
  width: 300vw;
  height: 100%;
  background-color: #F034B8;
  mix-blend-mode: hard-light;
}

.offer__decor-left-top {
	display: block;
  width: 15.7em;
  height: 19rem;
  position: absolute;
  top: 12rem;
  left: -10rem;
  z-index: 2;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  transform: rotate(-235deg);
}

.offer__step {
	position: relative;
	margin-bottom: 3rem;
}
.offer__step:last-of-type {
	margin-bottom: 0;
}

.offer__step:not(:last-child)::before {
	content: "";
	display: block;
	position: absolute;
	left: -10.2rem;
	top: 0.6rem;
	width: 7.6rem;
	height: 2.6rem;
	background-image: url("../img/common/arrow-right.svg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}
