.offer {
	position: relative;
	overflow: hidden;
}

.offer__title {
	margin-bottom: 2rem;
	display: inline-block;
}
.offer__title::after {
	content: "";
	pointer-events: none;
	transition: var(--tr-regular);
	position: absolute;
  top: -4rem;
  right: -8.5rem;
	display: block;
	width: 8.36rem;
	height: 9.6rem;
	background-image: url("../img/common/pointer.svg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	
	@media (max-width: $mobile-l) {
		right: 1.5rem;
	}
}
.section--closed .offer__title::after {
	opacity: 0;
}

.offer__subtitle {
	color: #000;
	font-size: 2.4rem;
	font-style: normal;
	font-weight: 700;
	line-height: 111%;
	letter-spacing: 0.492rem;
	text-transform: uppercase;
	margin-bottom: 2rem;
}

.offer__slogan {
	position: relative;
	font-size: 6.4rem;
	font-style: normal;
	font-weight: 700;
	line-height: 111%;
	letter-spacing: 1.312rem;
	text-transform: uppercase;
	padding-top: 2.6rem;
	padding-bottom: 1.5rem;
	margin-bottom: 6rem;

	@media (max-width: $mobile-xl) {
		font-size: 4.4rem;
	}
	@media (max-width: $mobile-l) {
		font-size: 2.5rem;
    letter-spacing: 0.6rem;
	}
}

.offer__slogan-text {
	position: relative;
	z-index: 2;
}
.offer__slogan::before {
  content: "";
  position: absolute;
  left: -100%;
  top: 0;
  display: block;
  width: 300vw;
  height: 100%;
  background-color: #F034B8;
  mix-blend-mode: hard-light;
}

.offer__decor-left-top {
	display: block;
  width: 15.7em;
  height: 19rem;
  position: absolute;
  top: 12rem;
  left: -10rem;
  z-index: 2;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  transform: rotate(-235deg);

	@media (max-width: $laptop) {
		left: unset;
    right: 10rem;
    top: 35rem;
    transform: rotate(-165deg);
	}

	@media (max-width: $mobile-xl) {
		right: 5rem;
    top: 25rem;
	}
	@media (max-width: $mobile-l) {
		display: none;
	}
}

.offer__step {
	position: relative;
	margin-bottom: 3rem;
}
.offer__step:last-of-type {
	margin-bottom: 0;
}

.offer__step:not(:last-child)::before {
	content: "";
	display: block;
	position: absolute;
	left: -10.2rem;
	top: 0.6rem;
	width: 7.6rem;
	height: 2.6rem;
	background-image: url("../img/common/arrow-right.svg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;

	@media (max-width: $mobile-l) {
    left: -8.2rem;
    top: -0.4rem;
	}
}

.offer__decor-right-top {
  position: absolute;
  top: 18rem;
  right: 8rem;
  z-index: 2;
  display: block;
  width: 25.5rem;
  height: 30.1rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  @media (max-width: $laptop) {
    right: 1rem;
    width: 15.5rem;
    height: 20.1rem;
  }
  @media (max-width: $mobile-xl) {
  	top: 26rem;
  }
  @media (max-width: $mobile-l) {
  	top: 34rem;
  	right: -1rem;
    width: 12.5rem;
    height: 12.1rem;
  }
}


.offer__list {
	color: #000;
	font-size: 2.4rem;
	font-style: normal;
	font-weight: 700;
	line-height: 111%;
	letter-spacing: 0.52rem;
	text-transform: uppercase;

	@media (max-width: $laptop) {
		padding-left: 10rem;
	}
	@media (max-width: $mobile-l) {
		font-size: 2.2rem;
		letter-spacing: 0.22rem;
		padding-left: 2rem;
	}
}