.programm {
	position: relative;
	padding-bottom: 11rem;
}

.programm__title {
	margin-bottom: 8.6rem;
}

.programm__list {
	max-width: 127.2rem;
	margin-left: auto;
	margin-right: auto;
}

.programm__line {
	display: grid;
	align-items: center;
	grid-template-columns: 38.4rem auto;
	column-gap: 6.7rem;
	margin-bottom: 3.3rem;
}

.programm__line:last-child {
	margin-bottom: 0;
}

.programm__line-time {
	background-color: #FB6A25;
	color: #000;
	font-family: var(--ff-regular);
	font-size: 3.6rem;
	font-style: normal;
	font-weight: 700;
	line-height: 111%; /* 39.96px */
	letter-spacing: 0.738rem;
	text-transform: uppercase;
	padding-top: 1.7rem;
	padding-bottom: 0.9rem;
	padding-left: 3rem;
	padding-right: 3rem;
	text-align: center;
	position: relative;
}

.programm__line-desc {
	color: #000;
	font-family: var(--ff-regular);
	font-size: 2rem;
	font-style: normal;
	font-weight: 550;
	line-height: 137.5%;
	letter-spacing: 0.05rem;
}

.programm__decor-left {
	position: absolute;
	top: 24.4rem;
	left: 0;
	display: block;
	width: 19.1rem;
	height: 51.5rem;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}
.programm__blob-left-top {
  position: absolute;
  top: 12rem;
  left: 7rem;
  display: block;
  width: 22.5rem;
  height: 20.7rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  transform: scale(1, -1) rotate(-16deg);
}

.programm__blob-left-bottom {
	position: absolute;
  bottom: -5rem;
  left: 3rem;
  display: block;
  width: 30.4rem;
  height: 25.8rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  transform: scale(-1);
}

.programm__blob-right-bottom {
	position: absolute;
  bottom: 26rem;
  right: 6rem;
  display: block;
  width: 25.3rem;
  height: 19.2rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  transform: scale(1, -1) rotate(-18deg);
}

.programm__decor-right-bottom {
	position: absolute;
  bottom: -8rem;
  right: 8rem;
	display: block;
	width: 20.7rem;
	height: 20.7rem;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}
.programm__decor-right-top {
	position: absolute;
	top: 8rem;
	right: 0;
	display: block;
	width: 19.6rem;
	height: 36.3rem;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}

.offer__decor-right-top {
  position: absolute;
  top: 18rem;
  right: 8rem;
  z-index: 2;
  display: block;
  width: 25.5rem;
  height: 30.1rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}


.offer__list {
	color: #000;
	font-size: 2.4rem;
	font-style: normal;
	font-weight: 700;
	line-height: 111%;
	letter-spacing: 0.52rem;
	text-transform: uppercase;
}