.programm {
	position: relative;
	padding-bottom: 11rem;
	overflow: hidden;

	@media (max-width: $laptop) {
	}
}

.programm__title {
	margin-bottom: 8.6rem;
	@media (max-width: $mobile-l) {
		margin-bottom: 4.6rem;
	}
}

.programm__list {
	max-width: 127.2rem;
	margin-left: auto;
	margin-right: auto;
}

.programm__line {
	display: grid;
	align-items: center;
	grid-template-columns: 38.4rem auto;
	gap: 6.7rem;
	margin-bottom: 3.3rem;

	@media (max-width: $mobile-xl) {
		grid-template-columns: 100%;
		gap: 1.5rem;
		margin-bottom: 3.6rem;
	}
}

.programm__line:last-child {
	margin-bottom: 0;
}

.programm__line-time {
	background-color: #FB6A25;
	color: #000;
	font-family: var(--ff-regular);
	font-size: 3.6rem;
	font-style: normal;
	font-weight: 700;
	line-height: 111%; /* 39.96px */
	letter-spacing: 0.738rem;
	text-transform: uppercase;
	padding-top: 1.7rem;
	padding-bottom: 0.9rem;
	padding-left: 3rem;
	padding-right: 3rem;
	text-align: center;
	position: relative;
	@media (max-width: $mobile-l) {
		font-size: 2.6rem;
	}
}

.programm__line-desc {
	color: #000;
	font-family: var(--ff-regular);
	font-size: 2rem;
	font-style: normal;
	font-weight: 550;
	line-height: 137.5%;
	letter-spacing: 0.05rem;

	@media (max-width: $mobile-l) {
		font-size: 1.8rem;
	}
}

.programm__line-desc .section-text--bold {
	@media (max-width: $mobile-l) {
		display: block;
	}
}

.programm__decor-left {
	pointer-events: none;
	position: absolute;
	top: 24.4rem;
	left: 0;
	display: block;
	width: 19.1rem;
	height: 51.5rem;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	transition: var(--tr-regular);

	@media (max-width: $mobile-xl) {
		display: none;
	}
}
.section--closed .programm__decor-left {
	opacity: 0;
}

.programm__blob-left-top {
	pointer-events: none;
  position: absolute;
  top: 12rem;
  left: 7rem;
  display: block;
  width: 22.5rem;
  height: 20.7rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  transform: scale(1, -1) rotate(-16deg);
  transition: var(--tr-regular);

  @media (max-width: $mobile-xl) {
  	top: 11rem;
    left: 0rem;
    width: 14.5rem;
    height: 14.7rem;
    transform: scale(1, -1) rotate(34deg);
  }
  @media (max-width: $mobile-l) {
  	display: none;
  }
}
.section--closed .programm__blob-left-top {
	opacity: 0;
}

.programm__blob-left-bottom {
	pointer-events: none;
	transition: var(--tr-regular);
	position: absolute;
  bottom: -5rem;
  left: 3rem;
  display: block;
  width: 30.4rem;
  height: 25.8rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  transform: scale(-1);

  @media (max-width: $mobile-xl) {
    bottom: -5rem;
    width: 14.4rem;
    height: 17.8rem;
    transform: scale(-1) rotate(45deg);
  }
}

.section--closed .programm__blob-left-bottom {
	opacity: 0;
}

.programm__blob-right-bottom {
	position: absolute;
  bottom: 26rem;
  right: 6rem;
  display: block;
  width: 25.3rem;
  height: 19.2rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  transform: scale(1, -1) rotate(-18deg);

  @media (max-width: $laptop) {
  	bottom: 36rem;
    right: -4rem;
    display: block;
    width: 15.3rem;
    height: 19.2rem;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    transform: scale(-1, -1) rotate(-44deg);
  }
  @media (max-width: $mobile-l) {
  	display: none;
  }
}

.programm__decor-right-bottom {
	pointer-events: none;
	transition: var(--tr-regular);
	position: absolute;
  bottom: -8rem;
  right: 8rem;
	display: block;
	width: 20.7rem;
	height: 20.7rem;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;

	@media (max-width: $laptop) {
    bottom: 0;
    right: 0;
    width: 11.7rem;
	}

	@media (max-width: $mobile-xl) {
		height: 10rem;
	}
}

.section--closed .programm__decor-right-bottom {
	opacity: 0;
}

.programm__decor-right-top {
	pointer-events: none;
	transition: var(--tr-regular);
	position: absolute;
	top: 8rem;
	right: 0;
	display: block;
	width: 19.6rem;
	height: 36.3rem;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;

	@media (max-width: $laptop) {
    top: -2rem;
    width: 9.6rem;
    height: 36.3rem;
	}
	@media (max-width: $mobile-l) {
		top: -8rem;
    width: 6.6rem;
    height: 31.3rem;
	}
}
.section--closed .programm__decor-right-top {
	opacity: 0;
}
