.section {
	padding-right: 4rem;
	padding-top: 4rem;
	padding-bottom: 4rem;

	@media (max-width: $laptop) {
		padding-right: 0;
	}
}


.section-title {
	position: relative;
	margin-top: 0;
	margin-bottom: 0.6rem;
	color: #000;
	font-family: var(--ff-regular);
	font-size: 4.8rem;
	font-style: normal;
	font-weight: 900;
	line-height: 111%;
	letter-spacing: 0.984rem;
	text-transform: uppercase;

	@media (max-width: $mobile-l) {
		font-size: 3rem;
		letter-spacing: 0.584rem;
	}
}

.section-title br {
	@media (max-width: $laptop) {
		display: none;
	}
}

.section-title__arrow {
	position: absolute;
	top: 1.7rem;
	left: -9rem;
	width: 7.6rem;
	height: 2.6rem;
}

.section-title__arrow::before,
.section-title__arrow::after {
	content: "";
	position: absolute;
	top: 0;
	display: block;
	width: 100%;
	height: 100%;
	background-image: url("../img/common/arrow-right.svg");
	background-position: center;
	background-size: contain;
}

.section-title__arrow::before {
	left: -6rem;
	background-image: url("../img/common/line.svg");
	background-repeat: repeat-x;
	transition: all 0.42s ease-in;
}
.section-title__arrow._::before {
	width: 180%;
}

.section-title__arrow::after {
	right: 0;
	background-image: url("../img/common/arrow-right.svg");
  transform-origin: right;
	background-repeat: no-repeat;
	transition: all 0.5s ease-out;
}
.section-title__arrow._::after {
	top: 7.3rem;
  transform: rotate(90deg);
}

.header__container .section-title__arrow {
  left: -3.8rem;
  top: 1rem;

  @media (max-width: $laptop) {
  	left: 5.2rem;
  }

  @media (max-width: $mobile-xl) {
  	left: 0;
  }
  @media (max-width: $mobile-l) {
  	display: none;
  }
}

.section-desc {
	color: #000;
	font-style: normal;
	text-transform: uppercase;
  letter-spacing: 0.492rem;

	@media (max-width: $mobile-xl) {
	  letter-spacing: 0.252rem;
	  font-size: 2rem;
	}
}

.section-desc br {
	@media (max-width: $laptop) {
		display: none;
	}
}

.section-text--bold {
	font-weight: 700;
}
.section-text--stroked {
	text-stroke: 0.2rem var(--c-fg-stroke, #fff);
	-webkit-text-stroke: 0.1rem var(--c-fg-stroke, #fff);
	color: transparent;
}
.section-text--select {
	user-select: all;
	-webkit-user-select: all;
}

.section-text--color {
	color: #FF537F;
}
.offer__list .section-text--color {
	letter-spacing: 0.62rem;
}

.section-text--underlined {
	border-bottom: 0.1rem solid;
}
