.speakers {
	position: relative;
}

.speakers__title {
	margin-bottom: 7.6rem;
}

.speakers__shelf {
	max-width: 127.6rem;
	margin-left: auto;
	margin-right: auto;
	display: grid;
	// grid-template-columns: repeat(auto-fill, minmax(30.6rem, 1fr));
	grid-template-columns: repeat(auto-fill, 30.6rem);
	column-gap: 11.2rem;
	row-gap: 4rem;
}

.speakers__blob-left-top {
	display: block;
  width: 28.3rem;
  height: 26rem;
  position: absolute;
  left: 3.4rem;
  top: 25rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  transform: rotate(-69deg);
}

.speakers__blob-left-bottom {
  display: block;
  width: 7.3rem;
  height: 14rem;
  position: absolute;
  left: 21.4rem;
  top: 56rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  transform: rotate(-90deg);
}

.speakers__decor-left {
	display: block;
  width: 23.8rem;
  height: 28.4rem;
  position: absolute;
  left: 5.4rem;
  bottom: 16rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.speakers__decor-right {
	display: block;
  width: 25.9rem;
  height: 30.7rem;
  position: absolute;
  right: 10.4rem;
  top: 25rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.speakers__blob-right-bottom {
	    display: block;
    width: 13.3rem;
    height: 17rem;
    position: absolute;
    right: 11.4rem;
    bottom: -6.7rem;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    transform: rotate(-154deg);
}