.about {
	padding-top: 2rem;
	padding-bottom: 2rem;
}
.about__container {
	display: grid;
	grid-template-columns: 54.5rem 76.2rem;
	align-items: start;
	gap: 11.3rem;

	@media (max-width: $laptop) {
		grid-template-columns: 100%;
		gap: 5.3rem;
	}
}

.about__media {
	border-radius: 3rem;

	@media (max-width: $mobile-xl) {
		height: 40rem;
	}
}
.about__media-pic {
	display: block;
	width: 100%;
	height: 100%;
	border-radius: inherit;
}
.about__media-img {
	display: block;
	width: 100%;
	height: 100%;
	border-radius: inherit;
	object-fit: cover;
}

.about__content-title {
	display: flex;
	justify-content: flex-start;
	align-items: flex-end;
	margin-bottom: 4.5rem;
}

.about__content-title-media {
	width: 22.9rem;
	height: 15.6rem;
}

// .about__content-title-text {
// 	color: #005EAA;
// 	font-family: var(--ff-subtitle);
// 	font-size: 3.5rem;
// 	font-style: normal;
// 	font-weight: 300;
// 	line-height: 103%;
// }

.about__content-desc {
	color: #005EAA;
	font-family: var(--ff-regular);
	font-size: 2rem;
	font-style: normal;
	font-weight: 400;
	line-height: 135.5%;
	margin-bottom: 3.4rem;

	@media (max-width: $mobile-xl) {
		font-size: 1.6rem;
		margin-bottom: 5rem;
	}
}

.about__content-subtitle {
	color: #005EAA;
	font-family: var(--ff-subtitle);
	font-size: 3rem;
	font-style: normal;
	font-weight: 300;
	line-height: 103%;
	margin-bottom: 1.3rem;
}
