.js_product {
	position: relative;
}

.product {
	padding-top: 4.5rem;
	padding-bottom: 4.5rem;
	margin-bottom: -25rem;
	position: relative;
	z-index: 6;
	overflow: hidden;

	@media (max-width: $laptop) {
		margin-bottom: 0;
	}
	@media (max-width: $mobile-xl) {
		padding-top: 2rem;
		padding-bottom: 2rem;
	}
}

.product__container {
	display: grid;
	column-gap: 5rem;
	grid-template-columns: auto 95.3rem;
	max-width: 183rem;
	align-items: start;

	@media (max-width: $laptop) {
		// grid-template-columns: auto 48rem;
		grid-template-columns: 100%;
		row-gap: 5rem;
	}
}

.product__details {
	opacity: 0;
	transform: translateX(30rem);
	transition: all 0.3s var(--tr-jolly-enter);
}
.product--visible .product__details {
	transform: translateX(0);
	opacity: 1;
}


.product__details-tabs {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 5rem;

	@media (max-width: $mobile-xl) {
		flex-direction: column;
	}
}

.product__related {
	padding-top: 0;
	padding-bottom: 0;

	@media (max-width: $laptop) {
		margin-right: -5rem;
		margin-left: -50rem;
	}

	@media (max-width: $mobile-xl) {
		margin-left: 0;
		margin-right: 0;
	}
}

.about .product__related {
	@media (max-width: $laptop) {
		margin-left: 0;
		margin-right: 0;
	}
	@media (max-width: $mobile-xl) {
		margin-left: #{'calc(0px - var(--p-container))'};
		margin-right: #{'calc(0px - var(--p-container))'};
	}
}

.product .product__related {
	@media (max-width: $mobile-xl) {
		margin-left: #{'calc(0px - var(--p-container))'};
		margin-right: #{'calc(0px - var(--p-container))'};
	}
}

.product__details-tabs-button {
  opacity: 0.2;
  --button-fg: var(--fg);
	@media (min-width: $laptop + 1) {
		font-size: 3.2rem;
		padding: 4rem 6rem;
	  min-width: 35rem;
	}

	@media (max-width: $mobile-xl) {
		margin-left: 0rem;
	}
}
.product__details-tabs-button:first-child {
	@media (min-width: $laptop + 1) {
		margin-left: 17rem;
	}
}
.product__details-tabs-button--active {
	opacity: 1;
}

.product__details-tabs-button:hover {
	@media (any-hover:hover) {
		opacity: 1;
	}
}

.product__details-tabs-button .button__bg {
	opacity: 0;
}
.product__details-tabs-button--active .button__bg {
	opacity: 1;
}

.product__title {
	color: var(--fg);
	font-family: var(--ff-title);
	font-size: 6.4rem;
	font-style: normal;
	font-weight: 900;
	line-height: 103%;
	margin-top: 0;
	margin-bottom: 2.9rem;

	@media (max-width: $mobile-xl) {
		font-size: 3.6rem;
		margin-bottom: 2rem;
		
	}
}

.product__title-model {
	font-family: var(--ff-subtitle);
	font-weight: 300;
}

.product__desc {
	max-width: 85.3rem;
	color: var(--fg);
	font-family: var(--ff-regular);
	font-size: 1.6rem;
	font-style: normal;
	font-weight: 400;
	line-height: 135.5%;
	margin-bottom: 1.6rem;

	@media (max-width: $desktop-l) {
		font-size: 2rem;
	}

	@media (max-width: $mobile-xl) {
		font-size: 1.6rem;
	}
}

.product__stats-list {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	color: var(--fg);
	font-family: var(--ff-subtitle);
	font-size: 2.4rem;
	font-style: normal;
	font-weight: 300;
	line-height: normal;
	// font-variant: small-caps;
	margin-bottom: 3.8rem;
}

.product__stat {
	display: block;
	margin-right: 0.6em;
}

.product__stat-value {
	font-weight: 900;
	font-family: var(--ff-title);
}

.product__hero {
	position: relative;
	opacity: 0;
	transform: translateX(-30rem);
	transition: all 0.8s var(--tr-jolly-enter);
}

	.product--visible .product__hero {
		opacity: 1;
		transform: translateX(0);
	}

.product__hero-name {
	color: var(--fg-active);
	font-family: var(--ff-title);
	font-size: 12.8rem;
	font-style: normal;
	font-weight: 900;
	line-height: normal;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	width: 100%;
	// transform-origin: left top;

	@media (max-width: $mobile-xl) {
		font-size: 4.8rem;
	}
}

.product__hero-name-text {
	transform: rotate(90deg) scale(-1) translate(-43rem, -21rem);
	display: block;
	width: 80rem;
	text-align: right;

	@media (max-width: $mobile-xl) {
		transform: rotate(90deg) scale(-1) translate(-39rem, -37.8rem);
	}
}

.product__media {
  width: 100%;
  height: 89.5rem;
  margin-top: 4rem;
  padding-left: 8rem;
  position: relative;

  @media (max-width: $mobile-xl) {
  	height: 35.5rem;
  	margin-top: 0;
  	padding-left: 6rem;
  	padding-right: 0;
  }

  @media (max-width: $mobile-xl) {
  	height: 41.5rem;
  	margin-top: 0;
  	padding-left: 4rem;
  	padding-right: 0;
  }
}

.product__media-pic {
	display: block;
	width: 100%;
	height: 100%;
}
.product__media-img {
	display: block;
	width: 100%;
	height: 100%;
}

.product__media-decor-1,
.product__media-decor-2,
.product__media-decor-3 {
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	position: absolute;
}

.product__media-decor-1 {
	width: 26.2rem;
	height: 13.9rem;
  bottom: -8rem;
  left: 9rem;

  @media (max-width: $laptop) {
    bottom: -4.3rem;
  }

  @media (max-width: $mobile-xl) {
  	width: 8.8rem;
  	height: 8.8rem;
  	left: 4rem;
  	bottom: -5.3rem;
  }
}

.product__media-decor-2 {
	width: 14.3rem;
	height: 13.3rem;
  bottom: 12.9rem;
  left: 7.8rem;

  @media (max-width: $mobile-xl) {
		width: 8.3rem;
		height: 8.3rem;
  	bottom: 2.9rem;
    left: 0.8rem;
  }
}

.product__media-decor-3 {
	width: 19.6rem;
	height: 16.5rem;
  bottom: -4rem;
  right: -0.8rem;

  @media (max-width: $laptop) {
    width: 9.2rem;
    height: 11.5rem;
    bottom: -6.3rem;
    right: 6.5rem;
  }
}

.product__details-decor {
	width: 19.8rem;
	height: 18.6rem;
	margin-left: auto;
	margin-right: -4rem;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;

	@media (max-width: $laptop) {
		display: none;
	}
}

[data-theme="raw"] .product__details-tabs-button:not(.product__details-tabs-button--active) {
	opacity: 1;
	color: rgba(35, 0, 92, 0.2);
}