.button-sticky {
  position: sticky;
  max-width: 37.5rem;
	bottom: 24rem;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  z-index: 15;
  margin-top: 10rem;

  @media (max-width: $desktop-l) {
  	bottom: 36rem;
  }
  @media (max-width: $desktop-s) {
  	bottom: 42rem;
  }
}

.button-sticky--hidden {
  transform: translateY(8rem);
  opacity: 0;
  pointer-events: none;
}

.button-sticky--active {
  bottom: 5rem;
}
